In [2]:
print("Hello World")

Hello World

In [5]:
import pandas as pd

In [6]:
pd.read_csv("placement.csv", sep = '\t' , names = ['cgpa','iq','placement'])

                   cgpa  iq  placement
0    ,cgpa,iq,placement NaN        NaN
1         0,6.8,123.0,1 NaN        NaN
2         1,5.9,106.0,0 NaN        NaN
3         2,5.3,121.0,0 NaN        NaN
4         3,7.4,132.0,1 NaN        NaN
..                  ...  ..        ...
96       95,4.3,200.0,0 NaN        NaN
97        96,4.4,42.0,0 NaN        NaN
98       97,6.7,182.0,1 NaN        NaN
99       98,6.3,103.0,1 NaN        NaN
100      99,6.2,113.0,1 NaN        NaN

[101 rows x 3 columns]

In [4]:
pd.read_csv('placement.csv',index_col = 'placement')

           Unnamed: 0  cgpa     iq
placement
1                   0   6.8  123.0
0                   1   5.9  106.0
0                   2   5.3  121.0
1                   3   7.4  132.0
0                   4   5.8  142.0
...               ...   ...    ...
0                  95   4.3  200.0
0                  96   4.4   42.0
1                  97   6.7  182.0
1                  98   6.3  103.0
1                  99   6.2  113.0

[100 rows x 3 columns]

In [5]:
pd.read_csv('placement.csv',header = 1)

     0  6.8  123.0  1
0    1  5.9  106.0  0
1    2  5.3  121.0  0
2    3  7.4  132.0  1
3    4  5.8  142.0  0
4    5  7.1   48.0  1
..  ..  ...    ... ..
94  95  4.3  200.0  0
95  96  4.4   42.0  0
96  97  6.7  182.0  1
97  98  6.3  103.0  1
98  99  6.2  113.0  1

[99 rows x 4 columns]

In [7]:
pd.read_csv('placement.csv',usecols = ['cgpa', 'iq' , 'placement'])

    cgpa     iq  placement
0    6.8  123.0          1
1    5.9  106.0          0
2    5.3  121.0          0
3    7.4  132.0          1
4    5.8  142.0          0
..   ...    ...        ...
95   4.3  200.0          0
96   4.4   42.0          0
97   6.7  182.0          1
98   6.3  103.0          1
99   6.2  113.0          1

[100 rows x 3 columns]

In [13]:
pd.read_csv('placement.csv',usecols = ['placement'], squeeze = true)

NameError: name 'true' is not defined

In [14]:
pd.read_csv('placement.csv',skiprows = [0,1])

     1  5.9  106.0  0
0    2  5.3  121.0  0
1    3  7.4  132.0  1
2    4  5.8  142.0  0
3    5  7.1   48.0  1
4    6  5.7  143.0  0
..  ..  ...    ... ..
93  95  4.3  200.0  0
94  96  4.4   42.0  0
95  97  6.7  182.0  1
96  98  6.3  103.0  1
97  99  6.2  113.0  1

[98 rows x 4 columns]

In [15]:
pd.read_csv('placement.csv',nrows = 100)

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

In [17]:
pd.read_csv('placement.csv', encoding = 'latin -1')

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

In [19]:
pd.read_csv('placement.csv',sep = ';' , encoding = 'latin -1', error_bad_lines = false)

NameError: name 'false' is not defined

In [20]:
pd.read_csv('placement.csv', dtype = {'target': int}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

In [21]:
pd.read_csv('placement.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

In [27]:
def rename(name):
    if name == "iq":
    return "IQ":
else:
    return name

    rename("IQ")

IndentationError: expected an indented block after 'if' statement on line 2 (2802627510.py, line 3)

In [2]:
pd.read_csv('placement.csv',converters = {'iq':rename})

NameError: name 'pd' is not defined

In [3]:
pd.read_csv('placement.csv',na_values = ['iq'])

NameError: name 'pd' is not defined

In [11]:
dfs = pd.read_csv('placement.csv',chunksize = 5000)
for chunks in dfs:
    print(chunk.shape)

NameError: name 'chunk' is not defined